/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* Root Styles */
:root {
  /* Light mode */
  --color-background: #eee;
  --color-text: #333333;
  --color-text-inverse: #ffffff;
  --color-secondary-text: #666666;
  --color-border: #dddddd;
  --color-link: #0066cc;
  --color-card: #f5f5f5;
  --color-category-title-bg: #333;
  --color-category-title-text: #eee;
  --color-background-header: rgba(230, 230, 230, 0.9);
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

body.dark-mode {
  /* Dark mode */
  --color-background: #111;
  --color-text: #ffffff;
  --color-text-inverse: #333333;
  --color-secondary-text: #cccccc;
  --color-border: #444444;
  --color-link: #fbb51e;
  --color-card: #444444;
  --color-category-title-bg: #222;
  --color-category-title-text: #fbb51e;
  --color-background-header: rgba(10, 10, 10, 0.9);
}

.hightlight {
  padding: 5px 5px;
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: all 300ms ease-in;
}

.hightlight:hover {
  background-color: var(--color-text-inverse);
  color: var(--color-link);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main Container Styles */
#main-container,
#header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#header-container {
  margin-top: 7rem;
}

#main-container {
  flex-grow: 1;
  flex-flow: row wrap;
  width: 100%;
  align-items: baseline;
  gap: 2rem;
  justify-content: center;
}

/* Header Styles */
h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
}

nav h1 {
  font-size: 4.5rem;
}

.header-image img {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  margin: 3rem 0;
  background-size: cover;
}

.header-text {
  width: 100%;
  max-width: 800px;
  margin-top: 1rem;
  padding: 1rem 0;
  font-size: 2.5rem;
  line-height: 1.6;
  color: var(--color-text);
}

/* Banner Styles */
#top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-background-header);
  z-index: 1;
}

#top-banner a {
  color: var(--color-text);
  text-decoration: none;
}

.dark-mode-icon {
  font-size: 2rem;
  color: var(--color-text);
  cursor: pointer;
}

/* Category and Subcategory Styles */
.category {
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--color-border);
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--color-card);
  flex-grow: 1;
}

/** Category Animation Styles */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.category {
  /* other styles ... */
  opacity: 0; /* Make the category initially invisible */
  animation-name: fadeIn;
  animation-duration: 2s; /* Control duration of animation */
  animation-fill-mode: forwards; /* Keep the end state of the animation */
}

.category-title,
.subcategory-title {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

.category-title {
  color: var(--color-category-title-text);
  background-color: var(--color-category-title-bg);
}

.subcategory-title {
  padding: 10px;
  font-size: 16px;
}

.subcategory {
  padding: 10px;
}

/* Item Styles */
.item {
  border-top: 1px solid var(--color-border);
  padding: 10px;
}

.item-title {
  font-size: 16px;
  color: var(--color-text);
  text-decoration: none;
}

.item-title:hover {
  color: var(--color-link);
}

.item-description {
  padding: 0.6rem 0;
  font-size: 14px;
  color: var(--color-secondary-text);
}

/* Footer Styles */
#footer {
  padding: 3rem 0;
  text-align: center;
  border-top: 1px solid var(--color-border);
  color: var(--color-text);
  background-color: var(--color-background);
  letter-spacing: 1px;
  font-size: 1.2rem;
}

#footer a {
  color: var(--color-text);
  text-decoration: none;
}

#footer img {
  vertical-align: middle;
  margin-left: 5px;
}

a, a:visited {
  color: var(--color-link);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
