/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

:root {
  /* Light mode */
  --color-background: #ffffff;
  --color-text: #333333;
  --color-secondary-text: #666666;
  --color-border: #dddddd;
  --color-link: #0066cc;
  --color-card: #f5f5f5;
  --color-category-title-bg: #ddd;
  --color-category-title-text: #000;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-text);
}

body.dark-mode {
  /* Dark mode */
  --color-background: #333333;
  --color-text: #ffffff;
  --color-secondary-text: #cccccc;
  --color-border: #444444;
  --color-link: #88aaff;
  --color-card: #444444;
  --color-category-title-bg: #222;
  --color-category-title-text: rgb(51, 214, 51);
}

#main-container,
#header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
}

nav h1 {
  font-size: 4rem;
}

.category {
  width: 100%;
  max-width: 800px;
  border: 1px solid var(--color-border);
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--color-card);
}

.category-title,
.subcategory-title {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.category-title {
  color: var(--color-category-title-text);
  background-color: var(--color-category-title-bg);
}

.subcategory-title {
  font-size: 16px;
}

.subcategory {
  padding: 10px;
}

.item {
  border-top: 1px solid var(--color-border);
  padding: 10px;
}

.item-title {
  font-size: 16px;
  color: var(--color-text);
  text-decoration: none;
}

.item-url {
  font-size: 14px;
  color: var(--color-link);
  text-decoration: none;
}

.item-description {
  font-size: 14px;
  color: var(--color-secondary-text);
}

#top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--color-border);
}

#top-banner a {
  color: var(--color-text);
  text-decoration: none;
}

.dark-mode-icon {
  font-size: 2rem;
  color: var(--color-text);
  cursor: pointer;
}

.header-image img {
  border-radius: 50%;
  width: 100%;
  max-width: 150px;
  max-height: 150px;
}

.header-text {
  margin-top: 1rem;
  padding: 1rem 0;
  font-size: 1.5rem;
  color: var(--color-text);
}

#footer {
  padding: 3rem 0;
  text-align: center;
  border-top: 1px solid var(--color-border);
  color: var(--color-text);
  background-color: var(--color-background);
}

#footer a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1rem;
}

#footer img {
  vertical-align: middle;
  margin-left: 5px;
}
